{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "commonjs": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-named-as-default": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "linebreak-style": 0
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "globals": {
    "__dirname": false
  }
}
