extends layout

block content
  .content
    #app.wrap-inner!= content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.0.0/polyfill.min.js")
    script(src="./client.bundle.js")
    script(src="./vendor.bundle.js")