extends layout

block content
  link(rel="stylesheet" type="text/css" href="public/stylesheets/styles.css")
  body
    script.
      window.__STATE__= !{JSON.stringify(preloadedState)};
    .content
      #app.wrap-inner 
        #{content}
    if content
      script(src="build/server.js")
    else
      script(src="build/client.js")
    
