doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='./stylesheets/material.min.css')
    script(src='./stylesheets/material.min.js')
    link(rel='stylesheet', href='./material-icons/material-icons.css')
  body
    block content
